@import 'resources/styles/variables.css';

.container {
  display: flex;
  padding: 3px 3px 0;
}

.option {
  &.isSelected {
    & .button {
      border: none;
      color: var(--color-white);
      background-color: var(--color-blue);
    }
  }
}

.button {
  color: var(--color-blue);
  border-radius: none;
  background: color(var(--color-blue) alpha(10%));
  padding: 6px;
  font-size: 12px;
  margin: 0 3px 3px 0;
  cursor: pointer;
  border: none;
}
