@import 'resources/styles/variables';

.container {
  display: flex;
  padding: 10px 10px 5px;
  overflow-x: auto;
}

.option {
  &.isSelected {
    & .button {
      border: none;
      color: var(--color-white);
      background-color: var(--color-black);
    }
  }
}

.button {
  color: var(--color-black);
  border-radius: none;
  background: color(var(--color-black) alpha(10%));
  padding: 3px 10px 5px;
  font-size: 13px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}
