.container {
  display: flex;
}

.option {
  &.isSelected {
    & .button {
      color: #7ce3ff;
      border-color: #7ce3ff;
    }
  }
}

.button {
  border-radius: none;
  background: transparent;
  font-size: 12px;
  border: 1px solid #000;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
