{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", {
      "functions": "never",
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
    }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true }
    ],
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "class-methods-use-this": 0,
    "react/sort-comp": 0,
    "no-mixed-operators": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
