@import 'resources/styles/variables';

:root {
  --width: 720px;
}

.container {
  width: var(--width);
  max-width: 100%;
  line-height: 1.5em;
  font-size: 14px;
  background-color: var(--color-white);
}

.wrapper {
  box-sizing: border-box;
  padding: var(--default-padding);
  width: var(--width);
  max-width: 100%;
}

.iconLink {
  display: inline-block;
  width: 48px;
}

.row {
  margin-bottom: var(--small-margin);
}
