@import 'resources/styles/variables';

:root {
  --width: 720px;
}

.container {
  width: var(--width);
  max-width: 100%;
  font-size: var(--default-font-size);
  background-color: var(--color-white);
  display: flex;

  @media (--only-mobile) {
    flex-direction: column;
  }
}

.contentWrapper {
  box-sizing: border-box;
  padding: var(--default-padding);
  width: var(--width);
  max-width: 100%;
  overflow-y: auto;
}

.content {
  font-size: var(--medium-font-size);
  line-height: 1.5em;
  margin-bottom: var(--default-margin);
}

.iconLink {
  display: inline-block;
  width: 48px;
  margin-bottom: var(--default-margin);
}

.row {
  margin-bottom: var(--small-margin);
}

.image {
  width: auto;
  font-size: 0;
  /* animation fix in chrome */
  transform: translate3d(0, 0, 0);

  @media (--only-mobile) {
    width: 100%;
    height: 240px;
  }

  & > img {
    object-fit:  cover;
    object-position: 50% 15%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
  }
}

.titleContainer {
  margin-bottom: var(--default-margin);
}

.originalTitle {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.2em;
}

.title {
  margin-top: var(--small-margin);
  display: block;
  font-style: italic;
  font-weight: 500;
}

.rowTitle {
  margin-bottom: 5px;
}

.links {
  font-size: var(--medium-font-size);
  line-height: 1.5em;
}

.link {
  display: inline-block;
  margin: 0 10px 0 0;
}

.ratingBar {
  font-size: var(--medium-font-size);
  margin-bottom: var(--default-margin);
}

.votes {

}
