:root {
  --color-white: #fff;
  --color-grey: rgb(79, 89, 85);
  --color-light-grey: #f9f9f9;
  --color-light-grey2: #fcfcfc;
  --color-blue: lightblue;
  --color-red: lightpink;
  --color-purple: rgb(180, 145, 255);
  --color-green: #bbffa0;
  --color-orange: rgb(255, 172, 105);
  --color-navy: rgb(134, 184, 242);

  --value-color: #c4c7f9;
  --input-color: #c4c7f9;
  --input-text-color: #000;

  --default-padding: 20px;
  --small-padding: 10px;
}
