:root {
  --color-black: #424242;
  --color-white: #fff;
  --color-grey: rgb(128, 128, 128);
  --color-light-grey: #f5f5f5;
  --color-blue: #4E598C;
  --color-maroon: #A54558;
  --color-pink: #edb8c6;
  --color-mint: #DAFFED;
  --color-orange: #E28F71;
  --color-yellow: #f7e99b;
  --color-turquoise: #C0F9EE;
  --color-purple: #C6CAED;

  --color-genre: var(--color-pink);
  --color-date: var(--color-turquoise);
  --color-vote: var(--color-yellow);
  --color-keyword: var(--color-mint);
  --color-language: var(--color-orange);
  --color-person: var(--color-blue);
  --color-company: var(--color-purple);

  --value-color: var(--color-blue);
  --input-color: var(--color-blue);
  --input-text-color: var(--color-black);
  --input-placeholder-color: color(var(--color-grey) alpha(50%));

  --large-padding: 40px;
  --default-padding: 20px;
  --small-padding: 10px;

  --large-margin: 40px;
  --default-margin: 20px;
  --small-margin: 10px;

  --default-animation-time: 250ms;
  --default-animation: var(--default-animation-time) ease-out;

  --default-box-shadow: 0 0 40px 0 color(var(--color-black) alpha(33%));

  --default-font-family: 'Palanquin', sans-serif;
  --default-font-size: 16px;
  --large-font-size: 18px;
  --medium-font-size: 14px;
  --small-font-size: 12px;

  --default-border-width: 2px;
  --default-border: var(--default-border-width) solid var(--color-black);

  @custom-media --only-small-desktop (max-width: 1280px);
  @custom-media --only-tablet (max-width: 1024px);
  @custom-media --only-mobile (max-width: 420px);
}
