@import 'resources/styles/variables';

.container {
  padding: 0 var(--default-padding);
  margin: var(--default-padding) 0;
}

.inputContainer {
  background: #fff;
  border: 1px solid color(var(--input-color) alpha(-50%));
  box-shadow: 0 1px 2px 0 color(var(--input-color) alpha(-80%));
  display: flex;
  padding: 10px;
}

.optionContainer {
  border: 1px solid color(var(--input-color) alpha(-50%));
  border-width: 0 1px 1px 1px;
  background-color: #fff;
}

.valueContainer {
  display: flex;
  flex-wrap: wrap;
}

.input {
  flex: 1;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 18px;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--input-text-color);
}

.expandableContainer {
  position: relative;
}

.expandable {
  overflow-y: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-height: 360px;
}

:global @keyframes borderAnimation {
  to {
    outline-color: color(var(--color-blue) alpha(50%));
  }
}

.container .activeOption {
  position: relative;
  z-index: 1;
  outline: 1px solid var(--color-blue);
  animation: 1s 'borderAnimation' ease infinite alternate;
}
