@import 'resources/styles/variables';

:root {
  --border-color: var(--color-turquoise);
}

.container {
}

.inputContainer {
  background: transparent;
  border: 2px solid var(--color-black);
  border-width: 0 0 2px 0;
  display: flex;
  padding: var(--default-padding) 0 0;
  flex-wrap: wrap;

  @media (--only-tablet) {
    display: block;
  }
}

.optionContainer {
  background-color: color(var(--color-white) alpha(99%));
}

.input {
  flex: 1;
  line-height: 1.2em;
  font-size: var(--input-font-size);
  outline: none;
  padding: 0 0 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--input-text-color);
  text-overflow: ellipsis;
  min-width: 240px;
  box-sizing: border-box;

  @media (--only-tablet) {
    padding: 5px 10px;
    min-width: 100%;
    background-color: var(--color-light-grey);
  }

  &::placeholder {
    font-weight: 300;
    font-size: var(--input-font-size);
    color: var(--input-placeholder-color);
    letter-spacing: 0.01em;
    text-overflow: ellipsis;

    @media (--only-tablet) {
      font-size: var(--medium-font-size);
    }
  }
}

.expandableContainer {
  position: relative;
}

.expandable {
  overflow-y: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 0px;
  box-shadow: var(--default-box-shadow);
  transition:
    max-height var(--default-animation),
    opacity var(--default-animation);
  opacity: 0;

  &.isExpanded {
    min-height: 360px;
    opacity: 1;
    max-height: 360px;
  }
}

.container .activeOption {
  position: relative;
  z-index: 1;
  border-color: color(var(--border-color) alpha(60%));
  background-color: color(var(--border-color) alpha(15%));
}
