@import 'resources/styles/variables';

.container {
}

.inputContainer {
  background: transparent;
  border: 2px solid var(--color-black);
  border-width: 0 0 2px 0;
  display: flex;
  padding: var(--default-padding) 0 0;
  flex-wrap: wrap;
}

.optionContainer {
  background-color: color(var(--color-white) alpha(99%));
}

.input {
  flex: 1;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 32px;
  outline: none;
  padding: 0;
  margin: 0 0 10px;
  border: none;
  background-color: transparent;
  color: var(--input-text-color);
  text-overflow: ellipsis;

  &::placeholder {
    font-weight: 300;
    font-size: 32px;
    color: var(--input-placeholder-color);
    letter-spacing: 0.01em;
    text-overflow: ellipsis;
  }
}

.expandableContainer {
  position: relative;
}

.expandable {
  overflow-y: auto;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 360px;
  box-shadow: var(--default-box-shadow);
}

:global @keyframes borderAnimation {
  to {
    box-shadow: 0 0 8px -2px color(var(--color-black) alpha(50%));
  }
}

.container .activeOption {
  position: relative;
  z-index: 1;
  border: 1px solid color(var(--color-black) alpha(25%));
  box-shadow: 0 0 12px -2px var(--color-black);
  animation: 1s 'borderAnimation' ease infinite alternate;
}
