@import 'resources/styles/variables';

.container {

}

.genreValue {
  background-color: var(--color-red);
}

.dateValue {
  background-color: var(--color-blue);
}

.datesLabel, .genresLabel {
  vertical-align: middle;

  &::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 1em;
    background-color: var(--color-blue);
  }
}

.genresLabel {
  &::before {
    background-color: var(--color-red);
  }
}
