@import 'resources/styles/variables';

:root {
  --border-width: 2px;
}

.container {
  margin: 0 0 calc(var(--default-margin) * 3);
}

.select {
  margin-bottom: 5px;
}

.genreValue {
  border: var(--border-width) solid var(--color-genre);
  transition: background var(--default-animation);

  &:hover {
    background-color: var(--color-genre);
  }
}

.dateValue {
  border: var(--border-width) solid var(--color-date);
  transition: background var(--default-animation);

  &:hover {
    background-color: var(--color-date);
  }
}

.voteValue {
  border: var(--border-width) solid var(--color-vote);
  transition: background var(--default-animation);

  &:hover {
    background-color: var(--color-vote);
  }
}

.keywordValue {
  border: var(--border-width) solid var(--color-keyword);
  transition: background var(--default-animation);

  &:hover {
    background-color: var(--color-keyword);
  }
}

.languageValue {
  border: var(--border-width) solid var(--color-language);
  transition: background var(--default-animation);

  &:hover {
    background-color: var(--color-language);
  }
}

.personValue {
  border: var(--border-width) solid var(--color-person);
  transition: background var(--default-animation);

  &:hover {
    background-color: var(--color-person);
  }
}

.companyValue {
  border: var(--border-width) solid var(--color-company);
  transition: background var(--default-animation);

  &:hover {
    background-color: var(--color-company);
  }
}

.datesLabel,
.genresLabel,
.votesLabel,
.keywordsLabel,
.peopleLabel,
.languageLabel,
.companiesLabel {
  vertical-align: middle;

  & span {
    vertical-align: -1px;
  }

  &::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.66em;
    background-color: var(--color-turquoise);
  }
}

.genresLabel {
  &::before {
    background-color: var(--color-genre);
  }
}

.votesLabel {
  &::before {
    background-color: var(--color-vote);
  }
}

.keywordsLabel {
  &::before {
    background-color: var(--color-keyword);
  }
}

.languageLabel {
  &::before {
    background-color: var(--color-language);
  }
}

.peopleLabel {
  &::before {
    background-color: var(--color-person);
  }
}

.companiesLabel {
  &::before {
    background-color: var(--color-company);
  }
}

.option {
}

.genresOption.isActive {
  border: 2px solid color(var(--color-genre) alpha(60%));
  background-color: color(var(--color-genre) alpha(15%));
}

.votesOption.isActive {
  border: 2px solid color(var(--color-vote) alpha(60%));
  background-color: color(var(--color-vote) alpha(15%));
}

.datesOption.isActive {
  border: 2px solid color(var(--color-date) alpha(60%));
  background-color: color(var(--color-date) alpha(15%));
}

.keywordsOption.isActive {
  border: 2px solid color(var(--color-keyword) alpha(60%));
  background-color: color(var(--color-keyword) alpha(15%));
}


.languageOption.isActive {
  border: 2px solid color(var(--color-language) alpha(60%));
  background-color: color(var(--color-language) alpha(15%));
}

.peopleOption.isActive {
  border: 2px solid color(var(--color-person) alpha(60%));
  background-color: color(var(--color-person) alpha(15%));
}

.companiesOption.isActive {
  border: 2px solid color(var(--color-company) alpha(60%));
  background-color: color(var(--color-company) alpha(15%));
}
