@import 'resources/styles/variables';

.container {
  margin: var(--default-margin) 0;
}

.select {
  margin-bottom: 5px;
}

.inputLabel {
  font-size: 12px;
}

.genreValue {
  background-color: var(--color-pink);
}

.dateValue {
  background-color: var(--color-turquoise);
}

.voteValue {
  background-color: var(--color-purple);
}

.keywordValue {
  background-color: var(--color-mint);
}

.languageValue {
  background-color: var(--color-orange);
}

.personValue {
  color: var(--color-white);
  background-color: var(--color-blue);

  & > button {
    color: var(--color-white);
  }
}

.companyValue {
  background-color: var(--color-yellow);
}

.datesLabel,
.genresLabel,
.votesLabel,
.keywordsLabel,
.peopleLabel,
.languageLabel,
.companiesLabel {
  vertical-align: middle;

  & span {
    vertical-align: -1px;
  }

  &::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.66em;
    background-color: var(--color-turquoise);
  }
}

.genresLabel {
  &::before {
    background-color: var(--color-pink);
  }
}

.votesLabel {
  &::before {
    background-color: var(--color-purple);
  }
}

.keywordsLabel {
  &::before {
    background-color: var(--color-mint);
  }
}

.languageLabel {
  &::before {
    background-color: var(--color-orange);
  }
}

.peopleLabel {
  &::before {
    background-color: var(--color-blue);
  }
}

.companiesLabel {
  &::before {
    background-color: var(--color-yellow);
  }
}
