@import 'resources/styles/variables';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
  background-color: color(var(--color-black) alpha(25%));
  transition: background var(--default-animation);

  &.isAnimated {
    background-color: transparent;

    &.willLeave {
       background-color: transparent;
    }

    &.didEnter {
       background-color: color(var(--color-black) alpha(50%));
    }
  }
}
