@import 'resources/styles/variables';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
}
