@import 'resources/styles/variables';

.container {
  width: 720px;
  max-width: 100%;
  box-shadow: 0 0 40px 0 color(var(--color-black) alpha(33%));
  position: relative;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background: none;
  font-size: 14px;
  line-height: 1em;
  font-weight: 300;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0px 2px 1px;
  margin: 0;

  &:hover {
    background-color: color(var(--color-black) alpha(20%));
  }
}
