@import 'resources/styles/variables';

body.hasModal {
  overflow: hidden;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);

  @media (--only-tablet) {
    align-items: flex-start;
    overflow-y: auto;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    backdrop-filter: blur(15px);
    opacity: 0;
    background-color: color(#fff alpha(25%));
    transition: opacity var(--default-animation);
  }

  &.isAnimated.didEnter.willLeave::before {
    opacity: 0;
  }

  &.isAnimated.didEnter::before {
    opacity: 1;
  }
}
