@import 'resources/styles/variables';

.container {
  padding: 0 var(--default-padding);
  margin: var(--default-padding) 0;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 calc(var(--small-padding)*-1);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.loading {
}

.movie {
  width: 20%;

  @media (--only-tablet) {
    width: 50%;
  }

  @media (--only-mobile) {
    width: 100%;
  }
}
