@import 'resources/styles/variables';

.container {
  padding: 0 var(--large-padding);
  margin: var(--large-margin) 0 var(--large-margin);
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  margin: 0 calc(var(--small-margin)*-1);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: color(var(--color-white) alpha(50%));
  padding: var(--default-padding);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.movie {
  width: 16.666666667%;

  @media (--only-small-desktop) {
    width: 20%;
  }

  @media (--only-tablet) {
    width: 50%;
  }

  @media (--only-mobile) {
    width: 100%;
  }
}
