@import 'resources/styles/variables';

.container {
  padding: 0 var(--default-padding);
  margin: var(--default-padding) calc(var(--small-padding)*-1);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.loading {
}
