@import 'resources/styles/variables';

.container {
  padding: var(--default-padding);
}

.title {
  font-size: 36px;
  font-weight: 300;
  color: var(--color-black);
  margin: 0;
}

.logo {
  width: 240px;
  height: auto;
}

.logoContainer > a {
  display: inline-block;
}
