@import 'resources/styles/variables';

.container {
  padding: var(--default-padding);
}

.logo {
  width: 240px;
  height: auto;
  margin: 0 0 15px;
}

.logoContainer > a {
  display: inline-block;
}
