@import 'resources/styles/variables';

.container {
  padding: var(--default-padding);
}

.headline {
  display: block;
  font-weight: 300;
  color: var(--color-grey);
  font-size: 12px;
}

.logo {
  width: 240px;
  height: auto;
  margin: 0 0 15px;
}

.logoContainer > a {
  display: inline-block;
}
