@import 'resources/styles/variables';

.container {
  font-size: 12px;
  margin: 0 5px 5px 0;
  padding: 3px 7px 3px 2px;
  background-color: var(--value-color);
  white-space: nowrap;
}

.deleteButton {
  padding: 2px 5px;
  font-size: 1em;
  line-height: 1em;
  border: none;
  background: none;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
  outline: none;

  &::before {
    content: '×';
  }
}

.label {
  line-height: 1em;
}
