@import 'resources/styles/variables';

.container {
  margin-right: 5px;
  font-size: 12px;
  background-color: var(--value-color);
}

.deleteButton {
  font-size: 1em;
  line-height: 1em;
  border: none;
  background: none;
  border-radius: none;
  padding: 5px 0 5px 5px;
  margin: 0;
  cursor: pointer;
  outline: none;

  &::before {
    content: '×';
  }
}

.label {
  line-height: 1em;
  padding: 5px;
  white-space: nowrap;
}
