@import 'resources/styles/variables';

.container {
  text-align: center;
  margin: 0 0 var(--default-margin);
}

.button {
  border: none;
  border: 1px solid color(var(--color-blue) alpha(100%));
  background: transparent;
  color: color(var(--color-blue) alpha(100%));
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  padding: 15px 20px;
  transition: background .15s ease-in-out;

  &:hover {
    background-color: color(var(--color-blue) alpha(10%));

    &:active {
      background-color: color(var(--color-blue) alpha(20%));
    }
  }
}
