@import 'resources/styles/variables';

.container {
  font-size: var(--default-font-size);
  border-top: 2px solid var(--color-black);
  padding: var(--default-padding) 0;
  text-align: right;
  line-height: 1.5em;
}

.info {
}

.copyright {
}
