@import 'resources/styles/variables';

.container {
  font-size: var(--default-font-size);
  border-top: 2px solid var(--color-black);
  padding: var(--default-padding) 0;
  line-height: 1.5em;
  display: inline-block;
  width: 100%;
}

.tmdbLogo {
  width: 100px;
  display: inline-block;
  float: right;
}

.copyright {
  display: inline-block;
  float: left;
}
