@import 'resources/styles/variables';

.container {
  font-size: var(--default-font-size);
  border-top: 2px solid var(--color-black);
  padding: var(--small-padding) 0;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tmdbLogo {
  width: 120px;
  display: inline-block;

  & > svg {
    display: block;
  }
}

.copyright {
  display: inline-block;
}
