@import 'resources/styles/variables';

.container {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  margin: 0 1px 1px 0;
  cursor: pointer;
  box-sizing: border-box;

  &:nth-child(2n) {
    background-color: color(var(--color-blue) alpha(2.5%));

    &:hover {
      background-color: color(var(--color-blue) alpha(5%));
    }
  }

  &:hover {
    background-color: color(var(--color-blue) alpha(5%));
  }
}
