@import 'resources/styles/variables';

:root {
  --details-width: 520px;
  --box-shadow: var(--default-box-shadow);
}

.container {
  box-sizing: border-box;
  position: relative;
  padding: 1px var(--small-padding);
  z-index: 0;
  transform: translateX(0);
  transition:
    transform var(--default-animation) 0s,
    z-index 0s linear var(--default-animation-time);

  &.isExpanded {
    transition-delay: var(--default-animation-time);
    z-index: 1;
  }

  & * {
    box-sizing: border-box;
  }
}

.wrapper {
  height: 100%;
  position: relative;
  background-color: var(--color-white);
  box-shadow: none;
  transform-origin: right;
  transform: scale(1);
  transition:
    box-shadow var(--default-animation),
    transform var(--default-animation);
  transition-delay: 0s;
}

.image {
  cursor: pointer;
  width: 100%;
  font-size: 0;
  transition: transform var(--default-animation), box-shadow var(--default-animation);
  box-shadow: none;

  &:hover {
    box-shadow: var(--default-box-shadow);
    transform: scale(1.01);

    &:active {
      transform: scale(1);
      box-shadow: none;
    }
  }

  & > img {
    width: 100%;
    display: block;
  }
}

.emptyImage {
  width: 100%;
  display: inline-block;
  background-color: #f2f2f2;

  &::before {
    content: '';
    margin-top: 150%;
    display: block;
  }
}

.originalTitle, .title {
  font-weight: 500;
}

.originalTitle {
  font-size: var(--default-font-size);
  margin-bottom: 1em;
  font-weight: 400;
}

.content {
  padding: var(--default-padding) 0;
  transition: padding var(--default-animation);
  transform: translate3d(0, 0, 0);
}

.data {
  color: var(--color-black);
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  margin-top: auto;
  font-weight: 300;
  line-height: 1.2em;
}

.dataItem {
  margin-bottom: 5px;

  & strong {
    font-weight: 400;
  }
}

.loader {
  top: 5px;
  right: 5px;
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
}
