@import 'resources/styles/variables';

.labelContainer {
  padding: 10px;
  font-size: 14px;
  background: var(--color-light-grey);
  border-bottom: 1px solid color(var(--input-color) alpha(-75%));
}

.label {
  font-weight: bold;
}
